* {
	margin: 0px;
	padding: 0px;
}

body {
	/*height: 3000px;*/
	background: linear-gradient(#ffd966, #997300);
	/*background-color: #FFAD3E;*/
}

.nav {
	display: block;
	width: 100%;
	height: 70px;
	background-color: #997300;
	padding-bottom: 20px;
	border-bottom: 8px solid rgba(0, 0, 0, 0.25);
}

.hamburger img {
	position: relative;
	display: none;
	width: 45px;
	height: 45px;
	left: 5%;
	margin-top: 3%;
	opacity: 0.55;
	transition: opacity 0.2s ease-in-out;
}

.hamburger img:hover {
	opacity: 1.0;
	transition: opacity 0.2s ease-in-out;
}

.closeBtn img {
	display: block;
	position: absolute;
	height: 35px;
	width: 35px;
	left: 80%;
	top: 5%;
	color: #262626
}

.sideBar {
	display: none;
	position: fixed;
	left: -100%;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 5;
	background-color: #FFAD3E;
	transition: all 0.2s ease-in-out;
}

.sideBarVisible {
	left: 0;
	transition: all 0.2s ease-in-out;
}

.sideBar ul {
	margin-top: 45%;
	display: block;
	text-align: center;
}

.sideBar ul li {
	position: relative;
	display: block;
	color: #262626;
	font-family: "BigNoodleTitling", sans-serif;
	text-align: center;
	font-size: 40px;
	border: 2px solid #262626;
	border-radius: 3%;
	margin: 10px;
}

.sideBar a {
	text-decoration: none;
}

.nav ul {
	position: absolute;
	display: inline-block;
	height: 40px;
	width: 300px;
	/*border: 1px solid red;*/
	margin-left: 50px;
	top: 3%;
}

.nav li {
	position: relative;
	display: inline-block;
	color: white;
	font-family: "BigNoodleTitling", sans-serif;
	text-transform: uppercase;
	font-size: 22px;
	margin-left: 20px;
	cursor: pointer;
	opacity: 0.30;
	transition: all 0.2s ease-in-out;
	/*border: 1px solid red;*/
}

.nav li:hover {
	opacity: 1.0;
	transition: all 0.2s ease-in-out;
}

.heroImage {
	display: block;
	height: 500px;
	background-image: url("https://images2.alphacoders.com/703/thumb-1920-703733.jpg");
	background-color: #262626;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center top;
	background-size: cover;
	max-width: 1400px;
	border-bottom: 5px solid #303030;
}

.main {
	display: block;
	max-width: 1400px;
	background-color: #262626;
	padding-bottom: 200px;
}

.heroName {
	height: 100px;
	display: block;
	text-align: center;
	border-bottom: 3px solid #ffd966;
}

.heroName h1 {
	font-family: "BigNoodleTitlingOblique", sans-serif;
	color: #ffd966; 
	font-size: 70px;
}

.heroContent {
	display: block;
	margin-top: 50px;
	margin-left: 3%;
}

.heroContent h3 {
	display: block;
	font-family: "BigNoodleTitlingOblique", sans-serif;
	color: #262626;
	font-size: 40px;
	background-color: #ffd966;
	width: 200px;
	padding-left: 20px;
	border-radius: 5%;
	text-align: left;
}

.heroContent h4 {
	display: block;
	font-family: "BigNoodleTitling", sans-serif;
	color: antiquewhite;
	font-size: 25px;
	text-align: left;
	margin-top: 40px;
}

.heroContent li {
	list-style: none;
	margin: 10px;
}

.heroQuote {
	display: block;
	text-align: center;
	font-family: "BigNoodleTitlingOblique", sans-serif;
	color: #ffd966;
	margin-left: -3%;
	margin-top: 50px;
	margin-bottom: 20px;
}

.heroContent p {
	border-radius: 2%;
	color: white;
	line-height: 1.7em;
	background-color: #404040;
	font-size: 18px;
	padding: 20px;
	margin-left: -3%;
}


.footer {
	display: block;
	width: 100%;
	height: 100px;
	background-color: #262626;
	border-top: 5px solid #595959;
	text-align: center;
	color: white;
	padding-top: 10px;
}

.center {
	text-align: center;
}

.abilities {
	position: relative;
	display: inline-block;
	width: 100%;
	border: none;
	border-radius: 2%;
	margin-left: -3%;
	margin-top: 20px;
	max-width: 700px;
}

.footer h1 {
	font-family: "BigNoodleTitling", sans-serif;
}

@media screen and (max-width: 600px) {
	
	.nav ul {
		display: none;
	}
	
	.hamburger img {
		display: block;
	}
	
	.sideBar {
		display: block;
	}
	
}

@font-face {
	font-family: BigNoodleTitling;
	src: url("big_noodle_titling.ttf");
}

@font-face {
	font-family: BigNoodleTitlingOblique;
	src: url("big_noodle_titling_oblique.ttf");
}